@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: halloween --default, fantasy --prefersdark;
};


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*, *:hover {
    scrollbar-color: oklch(var(--color-secondary) / 0.5) oklch(var(--color-secondary-content) / 0.7);
}